h1 {
	color: #090d8b;
	text-align: center;
}

img {
	
	width: 300px;
	height: 300px;
	padding: 40px;
	margin-left: 100px;
}

.score-panel {
	border-color: #090d8b;
	color: #090d8b;
}

#number-to-guess{
	text-align: center;
	color: #1b271e;
}
